<div>
  <p><b>{{actorName}}</b> versucht ein Schloss zu knacken.</p>
  <p>DC: <b>{{dc}}</b>, Bonus: <b>{{bonus}}</b></p>

  <div class="form-group">
    <button data-action="start" class="dialog-button">Bewegung starten</button>
    <button data-action="close" class="dialog-button">Schließen</button>
  </div>

  <p class="hint">Minispiel kann später ergänzt werden.</p>
</div>
