<div class="lockpicking-game">
  <p><b>{{actorName}}</b> versucht ein Schloss zu knacken.</p>
  <p>Schwierigkeit (DC): <b>{{dc}}</b>, Bonus: <b>{{bonus}}</b></p>

  <div class="form-group">
    <button data-action="start" class="dialog-button">
      Bewegung starten / Testknacken
    </button>
    <button data-action="close" class="dialog-button">
      Schließen
    </button>
  </div>

  <p class="hint">Sobald alles läuft, kannst du hier dein echtes Minispiel einbauen.</p>
</div>
