<div class="lockpicking-game">
  <p><b>{{actorName}}</b> versucht ein Schloss zu knacken.</p>
  <p>
    Schwierigkeitsgrad (DC): <b>{{dc}}</b>,
    Bonus: <b>{{bonus}}</b>
    {{#if disadvantage}}(mit Nachteil){{else}}(normal){{/if}}
  </p>

  <div class="form-group">
    <button data-action="start" class="dialog-button">
      Versuch starten
    </button>
    <button data-action="close" class="dialog-button">
      Schließen
    </button>
  </div>

  <p class="hint">
    Später können wir hier den bewegten Balken als richtiges Minispiel einbauen.
  </p>
</div>
